<p>
  <strong>Category-Name:</strong>
  <%=  @product.categories.pluck(:category_name).join(',') %>
</p>

<p>
  <strong>Product-Name:</strong>
  <%=  @product.product_name %>
</p>
<p>
  <strong>Product-Price:</strong>
  <%=  @product.product_price %>
</p>




  
  





